/*
    Tags HTML
*/

/* DOM root initialisation */
html, body {
    background-color: #000000;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 26px;
    text-align: center;
    font-weight: bold;
    color: cyan;
}

p {
/*    text-transform: uppercase;*/
    font-size: 26px;
    text-align: justify;
    font-weight: bold;
    color: yellow; 
}

/*
*, *:after, *:before {
    box-sizing: border-border;
}
*/

/*
    IDs declaration
*/

#parentContainer {
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0 0 0 0;
/*  top: 50px;
  left: 50px;*/
}

#introContainer {
  position: absolute;
  height: 20%;
  width: 50%;
  padding: 0 0 0 0;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

#logoContainer {
  position: absolute;
  height: 30%;
  width: 100%;
  padding: 0 0 0 0;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0%);
}

#logo {
    width: 33%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#crawlContainer {
    position: absolute;
    height: 25%;
    width: 45%;
    padding: 0 0 0 0;
    top: 80%;
    left: 50%;
/*    border: 2px solid white;*/
    transform: translate(-50%, -80%) perspective(200px) rotateX(25deg);
}

#crawlContainer p {
    animation: scroll-top 20s linear infinite;
}

/* Define the animation */

@keyframes scroll-top {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(-100%);
    }
}

#doorA {
    margin: 0;
    position: absolute;
    background: #0066CC;
    width: 350px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -53%);
    border: 2px solid black;
}

#doorB {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    position: absolute;
    background: #0066CC;
    width: 300px;
    height: 570px;
    bottom: -0.4%;
    left: 6.5%;
    border: 2px solid black;
}

#step {
    position: absolute;
    top: 90.6%;
    left: 75px;
    width: 350px;
    height: 50px;
}

#trapeze{
    position: absolute;
    background: #0066CC;
    top: 0%;
    left: -2.28%;
    width: 365px;
    height: 10px;
    border: 1px solid black;
    transform: perspective(25px) rotateX(+9deg);
}

#rectangle{
    position: absolute;
    background: #0066CC;    
    top: 24%;
    left: -4.3%;
    width: 380px;
    height: 15px;
    border: 1px solid black;
}

#whitesContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 115px;
    height: 117px;
    margin-left: 1px;
    margin-top: -0.5px;
    border: 1px solid black;
    position: absolute;
}

/*
    Classes declaration
*/

.halfDoor {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    background: #0066CC;
    width: 135px;
    height: 570px;
    margin-top: 0%;
    border: 1px solid black;
}

.square {
    width: 120px;
    height: 120px;
    margin-left: 5%;
    border: 1px solid black;
    border-top: 3px solid black;
    position: relative;
}

.square2 {
    width: 115px;
    height: 116px;
    margin-left: 1px;
    margin-top: 0px;
    border: 1px solid black;
    position: relative;
}

.wRectangle {
    background: #FFFFFF;
    width: 35px;
    height: 53px;
    margin-left: 2px;
    margin-top: 3px;
    margin-right: 1px;
}

/* Main centered website wrapper */
